@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<h4>Personalia</h4>
<ul>
    <li>Sam Ceustermans</li>
    <li>R0785485</li>
</ul>
<h4>Doel</h4>
<p>Graag had ik een webshop gemaakt die voeding verkoopt. Deze webshop bestaat uit een homepagina waar de bezoeker zonder in te loggen alle producten kan zien en in een winkelmandje kan plaatsen. Om verder te gaan (te bestellen/betalen) dient hij wel te registreren/in te loggen. Eenmaal de bezoeker is ingelogd, kan hij de bestelling afronden. Tevens kan hij dan ook zijn voorgaande bestelling zien.</p>
<p>Er is ook een admin gedeelte. De administrator kan alle bestellingen zien (van iedere bezoeker) en kan deze ook wijzigen of verwijderen. De admin kan ook producten etc. toevoegen, wijzigen en verwijderen.</p>
<p>Graag wil ik deze opdracht maken op een manier zodat ik de backend maar 1x moet ontwikkelen en deze kan gebruiken in mijn MVC & Angular applicatie. Dit wil ik bereiken via Clean Architecture.</p>

<h4>Omgeving</h4>
<h6>Project 1: MVC</h6>
<p>Webapplicatie via .NET Core MVC & Razor pages</p>
<h6>Project 2: Angular</h6>
<p>Webapplicatie Via .NET Core Web API & Angular</p>

<h4>Functionaliteiten</h4>
<ul>
    <li>Homepagina dat alle producten toont</li>
    <li>Winkelwagen en bestellingen maken</li>
    <li>Afgelopen bestellingen opvragen</li>
    <li>
        Admin gedeelte
        <ul>
            <li>Bestellingen beheren</li>
            <li>Producten beheren</li>
        </ul>
    </li>
</ul>
<p>De focus van de applicatie is een goede backend zodat deze voor beide projecten kan gebruikt worden. Het systeem kan op die manier eenvoudig uitgebreid worden.</p>